<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Copyright &copy; {{ now | date('Y') }} <a href="https://estudiosprofesionales.net">ITSSAT</a>.</b> Academía ISC.
        
    </div>
    <b>Version</b> 2.0
</footer>