{% extends 'template/temp_guest.twig' %}

{% block title 'Bienvenidos' %}

{% block body %}
    <div class="col-sm-offset-4 col-sm-2 text-center" style="margin-top: 50px">
        <a class="bnt btn-block btn-app" href="{{ route('login') }}">Iniciar sesión - Estudiante</a>
    </div>
    <div class="col-sm-2 text-center" style="margin-top: 50px">
        <a class="bnt btn-block btn-app" href="{{ route('cpanel/login') }}">Iniciar sesión - cPanel</a>
    </div>
{% endblock %}